<div class="<%= session_form_wrapper %>">
  <div>
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
  </div>

  <h1>Sign In</h1>
  <%= form_with url: session_path do |form| %>
    <%= form.label :email_address, "Email Address", class: form_label %>

    <%= form.email_field :email_address, class: input_field, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
    <%= form.label :password, "Password", class: form_label %>
    <%= form.password_field :password, class: input_field, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
    <%= form.submit "Sign in", class: btn_primary %>
  <% end %>
  <br>

  <%= link_to "Forgot password?", new_password_path %>
</div>
