<div class="<%= session_form_wrapper %>">
  <h1>Update your password</h1>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <%= form_with url: password_path(params[:token]), method: :put do |form| %>
    <div>
      <%= form.label :password, "Edit Password", class: form_label %>
      <%= form.password_field :password, class: input_field, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72 %><br>
    </div>
    <div>
      <%= form.label :password_confirmation, "Confirm Password", class: form_label %>
      <%= form.password_field :password_confirmation, class: input_field, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72 %><br>
    </div>
    <%= form.submit "Save", class: btn_primary %>
  <% end %>
</div>
